.container{
  max-width: 400px;
  margin: 25px auto;
  background-color: aliceblue;
  box-shadow: 0 0 10px gray;
  padding: 15px 50px;
}
.container-heading{
  text-align: center;
}
.expence-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transations-form input{
  width:100%;
  margin: 10px 0px;
  padding: 5px;
}
.transations-list{
  margin: 0px;
  padding: 0px;
}
.transations-list > li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  margin: 5px 0px;
  background-color: white;
}
